* {
  padding: 0;
  margin: 0; }

html, body {
  font-size: 16px;
  text-align: center;
  margin: 0; }

li {
  list-style-type: none; }

h1 {
  font-size: 1em; }

a {
  color: #000;
  text-decoration: underline; }

strong {
  font-weight: normal; }

a, img {
  border: 0;
  outline: none; }

.page-header {
  background-color: #CDF5DC;
  width: 100%;
  height: 100%;
  padding: 3em 0;
  margin-bottom: -.15em; }

.logo {
  width: 3.094em;
  margin: 1em; }
  @media (min-width: 31.563em) {
    .logo {
      width: 4.734em; } }
  @media (min-width: 37.563em) {
    .logo {
      width: 8em; } }

.page-title {
  font-family: "Knockout 26 A", "Knockout 26 B", "Arial", "Sans-Serif";
  font-weight: 400;
  font-style: normal;
  font-size: 3.3em;
  line-height: 80%;
  text-align: center;
  margin: 0.2em auto;
  text-transform: uppercase;
  letter-spacing: 0.05em; }
  @media (min-width: 21.375em) {
    .page-title {
      font-size: 4.3em; } }
  @media (min-width: 30.375em) {
    .page-title {
      font-size: 5.3em; } }
  @media (min-width: 31.563em) {
    .page-title {
      font-size: 5.3em; } }
  @media (min-width: 37.563em) {
    .page-title {
      font-size: 7.3em; } }
  @media (min-width: 51.75em) {
    .page-title {
      font-size: 10.8em; } }
  @media (min-width: 52.57em) {
    .page-title {
      font-size: 10.8em; } }
  @media (min-width: 70.26em) {
    .page-title {
      font-size: 12.8em; } }
  @media (min-width: 83.75em) {
    .page-title {
      font-size: 14.9em; } }

.slogan {
  font-family: "Bodoni W01 Book 709611", "Times New Roman";
  letter-spacing: 0.175em;
  text-transform: uppercase;
  margin-top: 1em 0 1em 0; }

.slogan li {
  padding: 20px; }

.hr {
  position: relative; }

.hr:before {
  width: 5%;
  height: 1px;
  background: #000;
  position: absolute;
  top: 4.5em;
  left: 50%;
  margin-left: -3%;
  content: ""; }
  @media (min-width: 21.375em) {
    .hr:before {
      width: 3%;
      top: 3.5em;
      position: absolute;
      margin-left: -1%; } }
  @media (min-width: 31.563em) {
    .hr:before {
      width: 2.25%;
      top: 3.5em;
      position: absolute;
      margin-left: -1.75%; } }

.info-primary {
  font-family: "Bodoni W01 Bold Italic 709608", "Times New Roman";
  font-size: 1.3em;
  text-align: center;
  margin: 2em 2em; }
  @media (min-width: 37.563em) {
    .info-primary {
      width: 25em;
      margin: 2em auto; } }

.info-header {
  font-family: "Knockout 26 A", "Knockout 26 B", "Arial", "Sans-Serif";
  font-weight: 400;
  font-style: normal;
  font-size: 2.3em;
  text-transform: uppercase;
  margin: 1.1em auto 0.5em auto;
  letter-spacing: .075em; }

.info-secondary {
  font-family: "Bodoni W01 Book 709611", "Times New Roman";
  text-align: left;
  margin: 2em; }
  @media (min-width: 37.563em) {
    .info-secondary {
      width: 32em;
      margin: 0 auto;
      padding: 1em 0;
      text-align: left;
      line-height: 1.5em; } }

.button {
  background-color: #000;
  color: #FFF;
  font-family: "Bodoni W01 Bold Italic 709608", "Times New Roman";
  text-decoration: none;
  padding: 1.2em 2.1em;
  display: block;
  width: 40%;
  margin: 2.500em auto; }
  @media (min-width: 21.375em) {
    .button {
      width: 10em; } }

.button:hover {
  color: #000;
  background-color: #747474; }

section {
  width: 100%;
  margin: 0 auto 1em auto; }

.version-heading {
  font-family: "Knockout 26 A", "Knockout 26 B", "Arial", "Sans-Serif";
  font-weight: 400;
  font-style: normal;
  font-size: 2.3em;
  text-transform: uppercase;
  margin: 0 auto;
  letter-spacing: .075em;
  display: block;
  padding: 1em 0 1em; }

.version-number {
  color: #FFF;
  font-family: "Knockout 94 A", "Knockout 94 B", "Arial", "Sans-Serif";
  font-weight: 400;
  font-size: 3em;
  font-style: normal;
  display: block;
  margin: -0.3em auto -0.5em; }
  @media (min-width: 21.375em) {
    .version-number {
      font-size: 4em; } }
  @media (min-width: 37.563em) {
    .version-number {
      font-size: 6em; } }
  @media (min-width: 52.57em) {
    .version-number {
      font-size: 9em; } }

.version-current {
  font-family: "Bodoni W01 Bold Italic 709608", "Times New Roman";
  font-weight: normal;
  font-size: 2.2em;
  margin-top: -1.85em;
  text-align: center;
  letter-spacing: 0.05em; }
  @media (min-width: 37.563em) {
    .version-current {
      margin-top: -1.75em; } }
  @media (min-width: 52.57em) {
    .version-current {
      font-size: 4.2em;
      margin-top: -1.4em; } }

.version--container {
  max-width: 65em;
  margin: 0 auto; }

.version-profile--image-wrapper:after {
  content: "";
  height: 3px;
  background-color: #FFF;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  margin-top: -0.4em; }

.version-profile--image {
  height: 250px;
  width: 250px; }

.version-profile--name {
  font-family: "Knockout 94 A", "Knockout 94 B", "Arial", "Sans-Serif";
  font-weight: 400;
  font-size: 2em;
  padding-top: 0.4em;
  position: relative;
  margin: 0; }

.version-project--heading {
  font-family: "Bodoni W01 Book 709611", "Times New Roman";
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 3em 0 1em 0; }

.version-project--titles {
  font-family: "Knockout 26 A", "Knockout 26 B", "Arial", "Sans-Serif";
  font-weight: 400;
  font-style: normal;
  font-size: 2.7em;
  text-decoration: underline;
  text-transform: uppercase;
  color: #000;
  line-height: 1em;
  padding: 0.5em 0 1em 0;
  margin: 0;
  letter-spacing: .03em; }
  @media (min-width: 37.563em) {
    .version-project--titles {
      font-size: 3em; } }

.version-profile--info {
  font-family: "Bodoni W01 Bold Italic 709608", "Times New Roman";
  font-size: 1em;
  margin: 1em 0 .5em 0; }
  @media (min-width: 37.563em) {
    .version-profile--info {
      width: 100%; } }

.version-3 {
  background-color: #F8F0B4; }

.version-2 {
  background-color: #FAC8A1; }

.version-1 {
  background-color: #C7E1E9;
  padding-bottom: 1em; }

.version-profile {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-top: 3em; }
  @media (min-width: 52.57em) {
    .version-profile {
      width: 33%; } }

.version-profile--social-links-list {
  padding: 0;
  margin: 0; }

.version-profile--social-links-item {
  display: inline-block;
  margin: 0.8em 0.3em; }

.version-profile--social-links-item i {
  color: #000;
  background-color: #FFF;
  border-radius: 50%;
  text-decoration: none; }

.version-profile--social-links-item i:hover {
  color: #FFF;
  background-color: #000; }

footer a:hover {
  color: #000; }

footer p {
  font-family: "Bodoni W01 Book 709611", "Times New Roman";
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-bottom: 4em;
  margin: 1em; }

.logo-footer {
  width: 10%;
  margin: 1em; }
  @media (min-width: 37.563em) {
    .logo-footer {
      width: 3em; } }

.logo-special {
  width: 8%;
  margin-top: -4.06%; }
  @media (min-width: 37.563em) {
    .logo-special {
      width: 6%;
      margin-top: -3.06%; } }

.page-title--special {
  font-family: "Knockout 26 A", "Knockout 26 B", "Arial", "Sans-Serif";
  font-weight: 400;
  font-style: normal;
  font-size: 4.3em;
  line-height: 80%;
  text-align: center;
  margin: 0.500em auto;
  text-transform: uppercase;
  letter-spacing: 0.05em; }
  @media (min-width: 37.563em) {
    .page-title--special {
      font-size: 7.3em; } }

@font-face {
  font-family: "Bodoni W01 Book 709611";
  src: url("Fonts/dd896678-2492-4538-a2f8-a1087ebc1e37.eot?#iefix");
  src: url("Fonts/dd896678-2492-4538-a2f8-a1087ebc1e37.eot?#iefix") format("eot"), url("Fonts/ba4b8c27-e5cc-4b4b-b277-127dca0e8f4f.woff") format("woff"), url("Fonts/0771e6fd-6e6a-4c81-a462-08cd2d69e3ec.ttf") format("truetype"), url("Fonts/d0c30112-880f-411f-b967-c2a4a7d3754b.svg#d0c30112-880f-411f-b967-c2a4a7d3754b") format("svg"); }
@font-face {
  font-family: "Bodoni W01 Bold 709602";
  src: url("Fonts/0a3b2afc-1177-49fc-b852-6d36f4b37543.eot?#iefix");
  src: url("Fonts/0a3b2afc-1177-49fc-b852-6d36f4b37543.eot?#iefix") format("eot"), url("Fonts/0ca9a4ed-de46-457a-bc45-f0f87ffd44f2.woff") format("woff"), url("Fonts/87bae0ea-8bc0-45e8-b82d-ccb13870d0e2.ttf") format("truetype"), url("Fonts/46e3e54a-6865-45b5-a951-f0c86163af88.svg#46e3e54a-6865-45b5-a951-f0c86163af88") format("svg"); }
@font-face {
  font-family: "Bodoni W01 Bold Italic 709608";
  src: url("Fonts/8e76616d-ce24-4651-8581-84dcc7ae3751.eot?#iefix");
  src: url("Fonts/8e76616d-ce24-4651-8581-84dcc7ae3751.eot?#iefix") format("eot"), url("Fonts/6f551fc0-4c6f-4ef0-b026-f1e148977a7b.woff") format("woff"), url("Fonts/32eb1298-d5c4-4112-a2f5-ee0ac5051b72.ttf") format("truetype"), url("Fonts/79868027-7d4d-452f-a701-80ad10720730.svg#79868027-7d4d-452f-a701-80ad10720730") format("svg"); }

/*# sourceMappingURL=mqs.css.map */
