/* line 1, ../scss/_reset.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 5, ../scss/_reset.scss */
html, body {
  font-size: 16px;
  text-align: center;
  margin: 0;
}

/* line 11, ../scss/_reset.scss */
li {
  list-style-type: none;
}

/* line 15, ../scss/_reset.scss */
h1 {
  font-size: 1em;
}

/* line 19, ../scss/_reset.scss */
a {
  color: #000;
  text-decoration: underline;
}

/* line 24, ../scss/_reset.scss */
strong {
  font-weight: normal;
}

/* line 28, ../scss/_reset.scss */
a, img {
  border: 0;
  outline: none;
}

/* line 10, ../scss/_header.scss */
.page-header {
  background-color: #cdf5dc;
  width: 100%;
  height: 100%;
  padding: 3em 0;
  margin-bottom: -.15em;
}

/* line 18, ../scss/_header.scss */
.logo {
  width: 3.094em;
  margin: 1em;
  width: 4.734em;
  width: 8em;
}

/* line 30, ../scss/_header.scss */
.page-title {
  font-family: "Knockout 26 A", "Knockout 26 B", "Arial", "Sans-Serif";
  font-weight: 400;
  font-style: normal;
  font-size: 3.3em;
  line-height: 80%;
  text-align: center;
  margin: 0.2em auto;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 4.3em;
  font-size: 5.3em;
  font-size: 5.3em;
  font-size: 7.3em;
  font-size: 10.8em;
  font-size: 10.8em;
}

/* line 79, ../scss/_header.scss */
.slogan {
  font-family: "Bodoni W01 Book 709611", "Times New Roman";
  letter-spacing: 0.175em;
  text-transform: uppercase;
  margin-top: 1em 0 1em 0;
}

/* line 86, ../scss/_header.scss */
.slogan li {
  padding: 20px;
}

/* line 90, ../scss/_header.scss */
.hr {
  position: relative;
}

/* line 94, ../scss/_header.scss */
.hr:before {
  width: 5%;
  height: 1px;
  background: black;
  position: absolute;
  top: 4.5em;
  left: 50%;
  margin-left: -3%;
  content: "";
  width: 3%;
  top: 3.5em;
  position: absolute;
  margin-left: -1%;
  width: 2.25%;
  top: 3.5em;
  position: absolute;
  margin-left: -1.75%;
}

/* line 9, ../scss/_info.scss */
.info-primary {
  font-family: "Bodoni W01 Bold Italic 709608", "Times New Roman";
  font-size: 1.3em;
  text-align: center;
  margin: 2em 2em;
  width: 25em;
  margin: 2em auto;
}

/* line 21, ../scss/_info.scss */
.info-header {
  font-family: "Knockout 26 A", "Knockout 26 B", "Arial", "Sans-Serif";
  font-weight: 400;
  font-style: normal;
  font-size: 2.3em;
  text-transform: uppercase;
  margin: 1.1em auto 0.5em auto;
  letter-spacing: .075em;
}

/* line 31, ../scss/_info.scss */
.info-secondary {
  font-family: "Bodoni W01 Book 709611", "Times New Roman";
  text-align: left;
  margin: 2em;
  width: 32em;
  margin: 0 auto;
  padding: 1em 0;
  text-align: left;
  line-height: 1.5em;
}

/* line 14, ../scss/_button.scss */
.button {
  background-color: black;
  color: white;
  font-family: "Bodoni W01 Bold Italic 709608", "Times New Roman";
  text-decoration: none;
  padding: 1.2em 2.1em;
  display: block;
  width: 40%;
  margin: 2.500em auto;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  width: 10em;
}

/* line 30, ../scss/_button.scss */
.button:hover {
  color: black;
  background-color: #747474;
}

/* line 15, ../scss/_version.scss */
section {
  width: 100%;
  margin: 0 auto 1em auto;
}

/* line 20, ../scss/_version.scss */
.version-heading {
  font-family: "Knockout 26 A", "Knockout 26 B", "Arial", "Sans-Serif";
  font-weight: 400;
  font-style: normal;
  font-size: 2.3em;
  text-transform: uppercase;
  margin: 0 auto;
  letter-spacing: .075em;
  display: block;
  padding: 1em 0 1em;
}

/* line 32, ../scss/_version.scss */
.version-number {
  color: white;
  font-family: "Knockout 94 A", "Knockout 94 B", "Arial", "Sans-Serif";
  font-weight: 400;
  font-size: 3em;
  font-style: normal;
  display: block;
  margin: -0.3em auto -0.5em;
  font-size: 4em;
  font-size: 6em;
  font-size: 9em;
}

/* line 54, ../scss/_version.scss */
.version-current {
  font-family: "Bodoni W01 Bold Italic 709608", "Times New Roman";
  font-weight: normal;
  font-size: 2.2em;
  margin-top: -1.85em;
  text-align: center;
  letter-spacing: 0.05em;
  margin-top: -1.75em;
  font-size: 4.2em;
  margin-top: -1.4em;
}

/* line 72, ../scss/_version.scss */
.version--container {
  max-width: 65em;
  margin: 0 auto;
}

/* line 77, ../scss/_version.scss */
.version-profile--image-wrapper:after {
  content: "";
  height: 3px;
  background-color: #FFF;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  margin-top: -0.4em;
}

/* line 88, ../scss/_version.scss */
.version-profile--image {
  height: 250px;
  width: 250px;
}

/* line 93, ../scss/_version.scss */
.version-profile--name {
  font-family: "Knockout 94 A", "Knockout 94 B", "Arial", "Sans-Serif";
  font-weight: 400;
  font-size: 2em;
  padding-top: 0.4em;
  position: relative;
  margin: 0;
}

/* line 102, ../scss/_version.scss */
.version-project--heading {
  font-family: "Bodoni W01 Book 709611", "Times New Roman";
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 3em 0 1em 0;
}

/* line 109, ../scss/_version.scss */
.version-project--titles {
  font-family: "Knockout 26 A", "Knockout 26 B", "Arial", "Sans-Serif";
  font-weight: 400;
  font-style: normal;
  font-size: 2.7em;
  text-decoration: underline;
  text-transform: uppercase;
  color: #000;
  line-height: 1em;
  padding: 0.5em 0 1em 0;
  margin: 0;
  letter-spacing: .03em;
  font-size: 3em;
}

/* line 127, ../scss/_version.scss */
.version-profile--info {
  font-family: "Bodoni W01 Bold Italic 709608", "Times New Roman";
  font-size: 1em;
  margin: 1em 0 .5em 0;
  width: 100%;
}

/* line 137, ../scss/_version.scss */
.version-3 {
  background-color: #f8f0b4;
}

/* line 141, ../scss/_version.scss */
.version-2 {
  background-color: #fac8a1;
}

/* line 145, ../scss/_version.scss */
.version-1 {
  background-color: #c7e1e9;
  padding-bottom: 1em;
}

/* line 150, ../scss/_version.scss */
.version-profile {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-top: 3em;
  width: 33%;
}

/* line 10, ../scss/_social.scss */
.version-profile--social-links-list {
  padding: 0;
  margin: 0;
}

/* line 14, ../scss/_social.scss */
.version-profile--social-links-item {
  display: inline-block;
  margin: 0.8em 0.3em;
}

/* line 19, ../scss/_social.scss */
.version-profile--social-links-item i {
  color: black;
  background-color: white;
  border-radius: 50%;
  text-decoration: none;
}

/* line 26, ../scss/_social.scss */
.version-profile--social-links-item i:hover {
  color: white;
  background-color: black;
}

/* line 7, ../scss/_footer.scss */
footer a:hover {
  color: #000;
}

/* line 11, ../scss/_footer.scss */
footer p {
  font-family: "Bodoni W01 Book 709611", "Times New Roman";
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-bottom: 4em;
  margin: 1em;
}

/* line 20, ../scss/_footer.scss */
.logo-footer {
  width: 10%;
  margin: 1em;
  width: 3em;
}

/* line 7, ../scss/_apply-page.scss */
.logo-special {
  width: 8%;
  margin-top: -4.06%;
  width: 6%;
  margin-top: -3.06%;
}

/* line 17, ../scss/_apply-page.scss */
.page-title--special {
  font-family: "Knockout 26 A", "Knockout 26 B", "Arial", "Sans-Serif";
  font-weight: 400;
  font-style: normal;
  font-size: 4.3em;
  line-height: 80%;
  text-align: center;
  margin: 0.500em auto;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 7.3em;
}
