/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* 1. Resets & Overrides */
/* line 3, ../scss/_reset.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 7, ../scss/_reset.scss */
html, body {
  font-size: 16px;
  text-align: center;
  margin: 0;
}

/* line 13, ../scss/_reset.scss */
li {
  list-style-type: none;
}

/* line 17, ../scss/_reset.scss */
h1 {
  font-size: 1em;
}

/* line 21, ../scss/_reset.scss */
a {
  color: #000;
  text-decoration: underline;
}

/* line 26, ../scss/_reset.scss */
strong {
  font-weight: normal;
}

/* end */
/* line 11, ../scss/screen.scss */
.page-header {
  background-color: #cdf5dc;
  width: 100%;
  height: 100%;
  padding: 3em 0;
  margin-bottom: -.15em;
}

/* line 19, ../scss/screen.scss */
.logo {
  width: 22%;
  height: 100%;
  margin: 1em;
}

/* line 25, ../scss/screen.scss */
.page-title {
  font-family: 'Knockout 26 A', 'Knockout 26 B', 'Arial','Sans-Serif';
  font-weight: 400;
  font-style: normal;
  font-size: 3.3em;
  line-height: 80%;
  text-align: center;
  margin: 0.2em auto;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* line 37, ../scss/screen.scss */
.slogan {
  font-family: "Bodoni W01 Book 709611", "Times New Roman";
  letter-spacing: 0.175em;
  text-transform: uppercase;
  margin-top: 1em 0 1em 0;
}

/* line 44, ../scss/screen.scss */
.slogan li {
  padding: 20px;
}

/* line 48, ../scss/screen.scss */
.hr {
  position: relative;
}

/* line 52, ../scss/screen.scss */
.hr:before {
  width: 5%;
  height: 1px;
  background: #333;
  position: absolute;
  top: 4.5em;
  left: 50%;
  margin-left: -3%;
  content: "";
}

/* end */
/* 3. Information */
/* line 67, ../scss/screen.scss */
.info-primary {
  font-family: "Bodoni W01 Bold Italic 709608", "Times New Roman";
  font-size: 1.3em;
  text-align: center;
  margin: 2em 2em;
}

/* line 74, ../scss/screen.scss */
.info {
  background-color: white;
  /* check for fall back color hex code */
}

/* line 78, ../scss/screen.scss */
.info-header {
  font-family: 'Knockout 26 A', 'Knockout 26 B', 'Arial','Sans-Serif';
  font-weight: 400;
  font-style: normal;
  font-size: 2.3em;
  text-transform: uppercase;
  margin: 1.1em auto 0.5em auto;
  letter-spacing: .075em;
}

/* line 88, ../scss/screen.scss */
.info-secondary {
  font-family: "Bodoni W01 Book 709611", "Times New Roman";
  text-align: left;
  margin: 2em;
}

/* line 94, ../scss/screen.scss */
.button {
  background-color: #000;
  color: #FFF;
  font-family: "Bodoni W01 Bold Italic 709608";
  text-decoration: none;
  padding: 1.2em 2.1em;
  display: block;
  width: 40%;
  margin: 2.500em auto;
  border-radius: 0.3em;
}

/* line 106, ../scss/screen.scss */
.button:hover {
  color: #000;
  background-color: #787878;
}

/* end */
/* 4. Version */
/* line 115, ../scss/screen.scss */
section {
  width: 100%;
  margin: 0 auto 1em auto;
}

/* line 120, ../scss/screen.scss */
.version-heading {
  font-family: 'Knockout 26 A', 'Knockout 26 B', 'Arial','Sans-Serif';
  font-weight: 400;
  font-style: normal;
  font-size: 2.3em;
  text-transform: uppercase;
  margin: 0 auto;
  letter-spacing: .075em;
  display: block;
  padding: 1em 0 1em;
}

/* line 132, ../scss/screen.scss */
.version-number {
  color: #FFF;
  font-family: 'Knockout 94 A', 'Knockout 94 B', 'Arial', 'Sans-Serif';
  font-weight: 400;
  font-size: 3em;
  font-style: normal;
  display: block;
  margin: -0.3em auto -0.5em;
}

/* line 142, ../scss/screen.scss */
.version-current {
  font-family: "Bodoni W01 Bold Italic 709608";
  font-weight: normal;
  font-size: 2.2em;
  margin-top: -1.85em;
  text-align: center;
  letter-spacing: 0.05em;
}

/* line 151, ../scss/screen.scss */
.version--container {
  max-width: 65em;
  margin: 0 auto;
}

/* line 156, ../scss/screen.scss */
.version-profile--image-wrapper:after {
  content: "";
  height: 3px;
  background-color: #FFF;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  margin-top: -0.4em;
}

/* line 167, ../scss/screen.scss */
.version-profile--image {
  height: 250px;
  width: 250px;
}

/* line 172, ../scss/screen.scss */
.version-profile--name {
  font-family: 'Knockout 94 A', 'Knockout 94 B';
  font-weight: 400;
  font-size: 2em;
  padding-top: 0.4em;
  position: relative;
  margin: 0;
}

/* line 181, ../scss/screen.scss */
.version-project--heading {
  font-family: "Bodoni W01 Book 709611";
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 3em 0 1em 0;
}

/* line 188, ../scss/screen.scss */
.version-project--titles {
  font-family: 'Knockout 26 A', 'Knockout 26 B', 'Arial','Sans-Serif';
  font-weight: 400;
  font-style: normal;
  font-size: 2.7em;
  text-decoration: underline;
  text-transform: uppercase;
  color: #000;
  line-height: 1em;
  padding: 0.5em 0 1em 0;
  margin: 0;
  letter-spacing: .03em;
}

/* line 202, ../scss/screen.scss */
.version-profile--info {
  font-family: "Bodoni W01 Bold Italic 709608";
  font-size: 1em;
  margin: 1em 0 .5em 0;
}

/* line 208, ../scss/screen.scss */
.version-3 {
  background-color: #f8f0b4;
}

/* line 212, ../scss/screen.scss */
.version-2 {
  background-color: #fac8a1;
}

/* line 216, ../scss/screen.scss */
.version-1 {
  background-color: #c7e1e9;
  padding-bottom: 1em;
}

/* line 221, ../scss/screen.scss */
.version-profile {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-top: 3em;
}

/* end */
/* 5. Social Links */
/* line 232, ../scss/screen.scss */
.version-profile--social-links-list {
  padding: 0;
  margin: 0;
}

/* line 236, ../scss/screen.scss */
.version-profile--social-links-item {
  display: inline-block;
  margin: 0.8em 0.3em;
}

/* line 241, ../scss/screen.scss */
.version-profile--social-links-item i {
  color: #000;
  background-color: #FFF;
  border-radius: 50%;
  text-decoration: none;
}

/* line 248, ../scss/screen.scss */
.version-profile--social-links-item i:hover {
  color: #FFF;
  background-color: #000;
}

/* 6. Footer */
/* line 255, ../scss/screen.scss */
footer a:hover {
  color: #000;
}

/* line 259, ../scss/screen.scss */
footer {
  background-color: white;
}

/* line 263, ../scss/screen.scss */
footer p {
  font-family: "Bodoni W01 Book 709611";
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-bottom: 4em;
  margin: 1em;
}

/* line 272, ../scss/screen.scss */
.logo-footer {
  width: 10%;
  height: 100%;
  margin: 1em;
}

/* end */
/* --- special shiz --- */
/* line 282, ../scss/screen.scss */
.logo-special {
  width: 8%;
  margin-top: -4.06%;
}

/* line 287, ../scss/screen.scss */
.page-title--special {
  font-family: 'Knockout 26 A', 'Knockout 26 B', 'Arial','Sans-Serif';
  font-weight: 400;
  font-style: normal;
  font-size: 4.3em;
  line-height: 80%;
  text-align: center;
  margin: 0.500em auto;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* end */
/* 7. Media Queries */
@media (min-width: 342px) {
  /* line 304, ../scss/screen.scss */
  .page-title {
    font-size: 4.3em;
  }

  /* line 307, ../scss/screen.scss */
  .hr:before {
    width: 3%;
    top: 3.5em;
    position: absolute;
    margin-left: -1%;
  }

  /* line 313, ../scss/screen.scss */
  .version-number {
    font-size: 4em;
  }

  /* line 316, ../scss/screen.scss */
  .info a {
    width: 160px;
  }

  /* line 319, ../scss/screen.scss */
  .button {
    width: 160px;
  }
}
@media (min-width: 486px) {
  /* line 325, ../scss/screen.scss */
  .page-title {
    font-size: 5.3em;
  }
}
@media (min-width: 505px) {
  /* line 330, ../scss/screen.scss */
  .logo {
    width: 20%;
  }

  /* line 333, ../scss/screen.scss */
  .page-title {
    font-size: 5.3em;
  }

  /* line 336, ../scss/screen.scss */
  .hr:before {
    width: 2.25%;
    top: 3.5em;
    position: absolute;
    margin-left: -1.75%;
  }
}
@media (min-width: 601px) {
  /* line 345, ../scss/screen.scss */
  .page-title {
    font-size: 7.3em;
  }

  /* line 348, ../scss/screen.scss */
  .logo {
    width: 8em;
  }

  /* line 351, ../scss/screen.scss */
  .version-number {
    font-size: 6em;
  }

  /* line 354, ../scss/screen.scss */
  .version-current {
    margin-top: -1.75em;
  }

  /* line 357, ../scss/screen.scss */
  .version-profile--info {
    width: 100%;
  }

  /* line 360, ../scss/screen.scss */
  .info-primary {
    width: 25em;
    margin: 2em auto;
  }

  /* line 364, ../scss/screen.scss */
  .info-secondary {
    width: 32em;
    margin: 0 auto;
    padding: 1em 0;
    text-align: left;
    line-height: 1.5em;
  }

  /* line 371, ../scss/screen.scss */
  .version-project--titles {
    font-size: 3em;
  }

  /* line 374, ../scss/screen.scss */
  .logo-footer {
    width: 3em;
  }

  /* line 377, ../scss/screen.scss */
  .page-title--special {
    font-size: 7.3em;
  }

  /* line 380, ../scss/screen.scss */
  .logo-special {
    width: 6%;
    margin-top: -3.06%;
  }
}
@media (min-width: 828px) {
  /* line 386, ../scss/screen.scss */
  h1.page-title {
    font-size: 10.8em;
  }
}
@media (min-width: 844px) {
  /* line 391, ../scss/screen.scss */
  h1.page-title {
    font-size: 10.8em;
  }

  /* line 394, ../scss/screen.scss */
  .version-profile {
    width: 33%;
  }

  /* line 397, ../scss/screen.scss */
  .version-number {
    font-size: 9em;
  }

  /* line 401, ../scss/screen.scss */
  .version-current {
    font-size: 4.2em;
    margin-top: -1.4em;
  }
}
@media (min-width: 1124px) {
  /* line 407, ../scss/screen.scss */
  h1.page-title {
    font-size: 11.8em;
  }
}
@media (min-width: 1334px) {
  /* line 412, ../scss/screen.scss */
  h1.page-title {
    font-size: 12.8em;
  }
}
@media (min-width: 1451px) {
  /* line 418, ../scss/screen.scss */
  h1.page-title {
    width: 1443px;
    margin: .15em auto;
  }
}
@media (min-width: 1464px) {
  /* line 424, ../scss/screen.scss */
  h1.page-title {
    width: 1443px;
    margin: .15em auto;
  }
}
