// variables //

$font-knockout: "Knockout 26 A", "Knockout 26 B", "Arial","Sans-Serif";

// -------------------------------------------------------------------- //

.apply-logo {
  @extend .sparkbox-logo;
  margin-top: -1.2em;

  @include sb-media(30.375em){
    margin-top: -1.7em;
  }

  @include sb-media (37.563em) {
    margin-top: -3em;
    width: 6em;
    height: 6em;
  }
}

.page-title--special {
  font-family: $font-knockout;
  font-weight: 400;
  font-style: normal;
  font-size: 4.3em;
  line-height: 80%;
  text-align: center;
  margin: 0.500em auto;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @include sb-media (37.563em) {
    font-size: 7.3em;
  }
}
