// variables //

$font-knockout: "Knockout 26 A", "Knockout 26 B", "Arial","Sans-Serif";

// -------------------------------------------------------------------- //

.apply-logo {
  @extend .sparkbox-logo;
  margin-top: -1.2em;

  @include sb-media($bp-sm){
    margin-top: -1.7em;
  }

  @include sb-media ($bp-md) {
    margin-top: -3em;
    width: 6em;
    height: 6em;
  }
}

.page-title--special {
  font-family: $font-knockout;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  line-height: 1;
  text-align: center;
  margin: 0.500em auto;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  width: 90%;
  max-width: 60rem;

  @include sb-media ($bp-sm) {
    font-size: 4em;
  }

  @include sb-media ($bp-md) {
    font-size: 5em;
  }

  @include sb-media ($bp-lg) {
    font-size: 6em;
  }
}
