.button {
  background-color: $c-black;
  color: $c-white;
  font-family: $font-bold-italic;
  text-decoration: none;
  padding: 1.2em 2.1em;
  display: block;
  width: 40%;
  margin: 2.500em auto;
  transition: all 350ms cubic-bezier(.74,0,0,.99);

  @include sb-media($bp-xs) {
    width: 10em;
  }
}

.button:hover {
  color: $c-black;
  background-color: $c-gray;
}
