// variables //

$font-bold-italic: "Bodoni W01 Bold Italic 709608", "Times New Roman";
$button: #000;
$button-hover: #747474;
$button-text: #FFF;
$button-hover-text: #000;
$apprentice-radius: 6px;

// -------------------------------------------------------------------- //

.button {
  background-color: $button;
  color: $button-text;
  font-family: $font-bold-italic;
  text-decoration: none;
  padding: 1.2em 2.1em;
  display: block;
  width: 40%;
  margin: 2.500em auto;

  @include sb-media(21.375em) {
    width: 10em;
  }
}

.button:hover {
  color: $button-hover-text;
  background-color: $button-hover;
}
