@import 'general-variables';

.button {
  background-color: $button;
  color: $button-text;
  font-family: $font-bold-italic;
  text-decoration: none;
  padding: 1.2em 2.1em;
  display: block;
  width: 40%;
  margin: 2.500em auto;
  transition: all 350ms cubic-bezier(.74,0,0,.99);

  @include sb-media(21.375em) {
    width: 10em;
  }
}

.button:hover {
  color: $button-hover-text;
  background-color: $button-hover;
}
