//Fonts
$font-knockout: "Knockout 26 A", "Knockout 26 B", "Arial","Sans-Serif";
$font-knockout-fat: "Knockout 94 A", "Knockout 94 B", "Arial", "Sans-Serif";
$font-book: "Bodoni W01 Book 709611", "Times New Roman";
$font-bold: "Bodoni W01 Bold 709602", "Times New Roman";
$font-bold-italic: "Bodoni W01 Bold Italic 709608", "Times New Roman";

//Buttons
$button: #000;
$button-hover: rgba(0, 0, 0, 0.787);
$button-text: #FFF;
$button-hover-text: #FFF;
$apprentice-radius: 6px;

// Colors
$blue: #C7E1E9;
$green: #CCFFCC ;
$orange: #FAC8A1;
$yellow: #F8F0B4;
$purple: #B5B1D1;
$number-color: #FFF;

