// variables //

$font-knockout: "Knockout 26 A", "Knockout 26 B", "Arial","Sans-Serif";
$font-book: "Bodoni W01 Book 709611", "Times New Roman";
$green: #CDF5DC;
$black: #000;

// -------------------------------------------------------------------- //

.page-header {
  background-color: $green;
  width: 100%;
  height: 100%;
  padding: 3em 0;
  margin-bottom: -.15em;
}

.sparkbox-logo {
  background-image: url("../img/sbx_logo_icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 2.5em;
  height: 2.5em;
  margin: 1em;
  max-width: 6em;
  display: block;
  margin: 0 auto;

  @include sb-media (30.375em) {
    width: 3.5em;
    height: 3.5em;
  }

  @include sb-media(51.750em) {
    width: 6em;
    height: 6em;
  }
}

.page-title {
  font-family: $font-knockout;
  font-weight: 400;
  font-style: normal;
  font-size: 3.3em;
  line-height: 80%;
  text-align: center;
  margin: 0.2em auto;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  // 342px //
  @include sb-media (21.375em) {
    font-size: 4.3em;
  }
  // 486px //
  @include sb-media (30.375em) {
    font-size: 5.3em;
  }
  // 601px //
  @include sb-media (37.563em) {
    font-size: 7.3em;
  }
  // 828px //
  @include sb-media (51.750em) {
    font-size: 10.8em;
  }
}

.slogan {
  font-family: $font-book;
  letter-spacing: 0.175em;
  text-transform: uppercase;
  margin-top: 1em 0 1em 0;
}

.slogan li {
  padding: 20px;
}

.hr {
  position: relative;
}

.hr:before {
  width: 5%;
  height: 1px;
  background: $black;
  position: absolute;
  top: 4.5em;
  left: 50%;
  margin-left:-3%;
  content: "";

  @include sb-media (21.375em) {
    width: 3%;
    top: 3.5em;
    position: absolute;
    margin-left:-1%;
  }

  @include sb-media (31.563em) {
    width: 2.25%;
    top: 3.5em;
    position: absolute;
    margin-left: -1.75%;
  }
}
