@import 'general-variables';

.info-primary {
  font-family: $font-bold-italic;
  font-size: 1.3em;
  text-align: center;
  margin: 2em 2em;

  @include sb-media (37.563em) {
    width: 25em;
    margin: 2em auto;
  }
}

.info-link {
  line-height: 1.5;
  color: $c-black;
  text-decoration: none;
  transition: all 400ms ease;
  padding: 0.125rem 0.25rem;
  text-decoration: none;
  box-shadow: inset 0 -0.175rem 0 rgba($c-black, 1);

  &:hover {
    color: $number-color;
    box-shadow: inset 0 -1.75rem 0 rgba($c-black, 1);
  }
}

.info-header {
  font-family: $font-knockout;
  font-weight: 400;
  font-style: normal;
  font-size: 2.3em;
  text-transform: uppercase;
  margin: 1.1em auto 0.5em auto;
  letter-spacing: .075em;
}

.info-secondary {
  font-family: $font-book;
  text-align: left;
  margin: 2em;
  font-size: 1.2em;
  line-height: 1.5em;

  @include sb-media (37.563em) {
    font-size: 1.3em;
  }

  @include sb-media (47.5em) {
    max-width: 32em;
    margin: 0 auto;
    padding: 1em 2em;
    text-align: left;
    font-size: 1.4em;
  }
}

.timeline {
  font-size: 1em;
  padding-bottom: 0.8em;

  .dates {
    font-family: $font-book;
  }
}

.dates {
  @extend .info-header;
  text-transform: none;
  font-size: 1.1em;
  color: #50b7c8;
}
