@import 'general-variables';

.info-primary {
  font-family: $font-bold-italic;
  font-size: 1.3em;
  text-align: center;
  margin: 2em 2em;

  @include sb-media (37.563em) {
    width: 50em;
    margin: 2em auto;
  }
}

.info-header {
  font-family: $font-knockout;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5em;
  text-transform: uppercase;
  margin: 0.1em auto 0.1em auto;
  letter-spacing: .075em;
}

.info-secondary {
  font-family: $font-book;
  text-align: left;
  margin: 2em;
  font-size: 1.2em;
  line-height: 1.5em;

  @include sb-media (37.563em) {
    font-size: 1.3em;
  }

  @include sb-media (47.5em) {
    max-width: 32em;
    margin: 0 auto;
    padding: 1em 2em;
    text-align: left;
    font-size: 1.4em;
  }
}

.timeline {
  font-size: 1em;
  padding-bottom: 0.8em;

  .dates {
    font-family: $font-book;
  }
}

.dates {
  @extend .info-header;
  text-transform: none;
  font-size: 1.1em;
  color: #50b7c8;
}
