@import 'reset';
@import 'mixins';

$font-book: "Bodoni W01 Book 709611", "Times New Roman";
$font-bold: "Bodoni W01 Bold 709602", "Times New Roman";
$font-bold-italic: "Bodoni W01 Bold Italic 709608", "Times New Roman";
$apprentice-blue: #C7E1E9;
$apprentice-green: #B7E4C4;
$apprentice-orange: #FAC8A1;
$apprentice-yellow: #F8F0B4;
$light-yellow: #faf5cb;
$black: #000;
$gray: #747474;
$apprentice-radius: 6px;

.page-header {
    background-color: rgb(205, 245, 220);
    width: 100%;
    height: 100%;
    padding: 3em 0;
    margin-bottom: -.15em;
}

.logo {
    width: 22%;
    height: 100%;
    margin: 1em;
}

.page-title {
    font-family: 'Knockout 26 A', 'Knockout 26 B', 'Arial','Sans-Serif';
    font-weight: 400;
    font-style: normal;
    font-size: 3.3em;
    line-height: 80%;
    text-align: center;
    margin: 0.2em auto;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.slogan {
    font-family: $font-book;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    margin-top: 1em 0 1em 0;
}

.slogan li {
    padding: 20px;
}

.hr {
    position: relative;
}

.hr:before {
    width: 5%;
    height: 1px;
    background: #333;
    position: absolute;
    top: 4.5em;
    left: 50%;
    margin-left:-3%;
    content: "";
}

/* end */

/* 3. Information */

.info-primary {
    font-family: "Bodoni W01 Bold Italic 709608", "Times New Roman";
    font-size: 1.3em;
    text-align: center;
    margin: 2em 2em;
}

.info {
    background-color: rgb(255, 255, 255); /* check for fall back color hex code */
}

.info-header {
    font-family: 'Knockout 26 A', 'Knockout 26 B', 'Arial','Sans-Serif';
    font-weight: 400;
    font-style: normal;
    font-size: 2.3em;
    text-transform: uppercase;
    margin: 1.1em auto 0.5em auto;
    letter-spacing: .075em;
}

.info-secondary {
    font-family: $font-book;
    text-align: left;
    margin: 2em;
}

.button {
    background-color: #000;
    color: #FFF;
    font-family: $font-bold-italic;
    text-decoration: none;
    padding: 1.2em 2.1em;
    display: block;
    width: 40%;
    margin: 2.500em auto;
    border-radius: 0.3em;
}

.button:hover {
    color: #000;
    background-color: #787878;
}

/* end */

/* 4. Version */

section {
    width: 100%;
    margin: 0 auto 1em auto;
}

.version-heading {
    font-family: 'Knockout 26 A', 'Knockout 26 B', 'Arial','Sans-Serif';
    font-weight: 400;
    font-style: normal;
    font-size: 2.3em;
    text-transform: uppercase;
    margin: 0 auto;
    letter-spacing: .075em;
    display: block;
    padding: 1em 0 1em;
}

.version-number {
    color: #FFF;
    font-family: 'Knockout 94 A', 'Knockout 94 B', 'Arial', 'Sans-Serif';
    font-weight: 400;
    font-size: 3em;
    font-style: normal;
    display: block;
    margin: -0.3em auto -0.5em;
}

.version-current {
    font-family:"Bodoni W01 Bold Italic 709608";
    font-weight: normal;
    font-size: 2.2em;
    margin-top: -1.85em;
    text-align: center;
    letter-spacing: 0.05em;
}

.version--container {
    max-width: 65em;
    margin: 0 auto;
}

.version-profile--image-wrapper:after {
    content: "";
    height: 3px;
    background-color: #FFF;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    margin-top: -0.4em;
}

.version-profile--image {
    height: 250px;
    width: 250px;
}

.version-profile--name {
    font-family: 'Knockout 94 A', 'Knockout 94 B';
    font-weight: 400;
    font-size: 2em;
    padding-top: 0.4em;
    position: relative;
    margin: 0;
}

.version-project--heading {
    font-family:"Bodoni W01 Book 709611";
    text-transform: uppercase;
    letter-spacing: 0.15em;
    padding: 3em 0 1em 0;
}

.version-project--titles {
    font-family: 'Knockout 26 A', 'Knockout 26 B', 'Arial','Sans-Serif';
    font-weight: 400;
    font-style: normal;
    font-size: 2.7em;
    text-decoration: underline;
    text-transform: uppercase;
    color: #000;
    line-height: 1em;
    padding: 0.5em 0 1em 0;
    margin: 0;
    letter-spacing: .03em;
}

.version-profile--info {
    font-family:"Bodoni W01 Bold Italic 709608";
    font-size: 1em;
    margin: 1em 0 .5em 0;
}

.version-3 {
    background-color: $apprentice-yellow;
}

.version-2 {
    background-color: $apprentice-orange;
}

.version-1 {
    background-color: $apprentice-blue;
    padding-bottom: 1em;
}

.version-profile {
    display:inline-block;
    vertical-align: top;
    width: 100%;
    margin-top: 3em;
}

/* end */

/* 5. Social Links */

.version-profile--social-links-list {
    padding: 0;
    margin: 0;
}
.version-profile--social-links-item {
    display: inline-block;
    margin: 0.8em 0.3em;
}

.version-profile--social-links-item i {
    color: #000;
    background-color: #FFF;
    border-radius: 50%;
    text-decoration: none;
}

.version-profile--social-links-item i:hover {
    color: #FFF;
    background-color: #000;
}

/* 6. Footer */

footer a:hover {
    color: #000;
}

footer {
    background-color: rgb(255, 255, 255);
}

footer p {
    font-family:"Bodoni W01 Book 709611";
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-bottom: 4em;
    margin: 1em;
}

.logo-footer {
    width: 10%;
    height: 100%;
    margin: 1em;
}

/* end */

/* --- special shiz --- */

.logo-special {
    width: 8%;
    margin-top: -4.06%;
}

.page-title--special {
    font-family: 'Knockout 26 A', 'Knockout 26 B', 'Arial','Sans-Serif';
    font-weight: 400;
    font-style: normal;
    font-size: 4.3em;
    line-height: 80%;
    text-align: center;
    margin: 0.500em auto;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

/* end */

@import 'mediaqueries';
