@import 'reset';
@import 'mixins';
@import 'header';
@import 'info';
@import 'button';
@import 'version';
@import 'social';
@import 'footer';
@import 'mediaqueries';


.logo-special {
    width: 8%;
    margin-top: -4.06%;
}

.page-title--special {
    font-family: 'Knockout 26 A', 'Knockout 26 B', 'Arial','Sans-Serif';
    font-weight: 400;
    font-style: normal;
    font-size: 4.3em;
    line-height: 80%;
    text-align: center;
    margin: 0.500em auto;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}