// variables //

$icon-color: #000;
$circle-color: #FFF;
$icon-color-hover: #FFF;
$circle-color-hover: #000;

// -------------------------------------------------------------------- //

.version-profile--social-links-list {
  padding: 0;
  margin: 0;
}
.version-profile--social-links-item {
  display: inline-block;
  margin: 0.8em 0.3em;
}

.version-profile--social-links-item i {
  color: $icon-color;
  background-color: $circle-color;
  border-radius: 50%;
  text-decoration: none;
}

.version-profile--social-links-item i:hover {
  color: $icon-color-hover;
  background-color: $circle-color-hover;
}
