// variables //

$icon-color: #000;
$circle-color: #FFF;
$icon-color-hover: #FFF;
$circle-color-hover: #000;

// -------------------------------------------------------------------- //

.apprentice--socialicon {
  margin-top: 1.2em;
}
