@font-face{
font-family:"Bodoni W01 Book 709611";
src:url("Fonts/dd896678-2492-4538-a2f8-a1087ebc1e37.eot?#iefix");
src:url("Fonts/dd896678-2492-4538-a2f8-a1087ebc1e37.eot?#iefix") format("eot"),url("Fonts/ba4b8c27-e5cc-4b4b-b277-127dca0e8f4f.woff") format("woff"),url("Fonts/0771e6fd-6e6a-4c81-a462-08cd2d69e3ec.ttf") format("truetype"),url("Fonts/d0c30112-880f-411f-b967-c2a4a7d3754b.svg#d0c30112-880f-411f-b967-c2a4a7d3754b") format("svg");
}
@font-face{
font-family:"Bodoni W01 Bold 709602";
src:url("Fonts/0a3b2afc-1177-49fc-b852-6d36f4b37543.eot?#iefix");
src:url("Fonts/0a3b2afc-1177-49fc-b852-6d36f4b37543.eot?#iefix") format("eot"),url("Fonts/0ca9a4ed-de46-457a-bc45-f0f87ffd44f2.woff") format("woff"),url("Fonts/87bae0ea-8bc0-45e8-b82d-ccb13870d0e2.ttf") format("truetype"),url("Fonts/46e3e54a-6865-45b5-a951-f0c86163af88.svg#46e3e54a-6865-45b5-a951-f0c86163af88") format("svg");
}
@font-face{
font-family:"Bodoni W01 Bold Italic 709608";
src:url("Fonts/8e76616d-ce24-4651-8581-84dcc7ae3751.eot?#iefix");
src:url("Fonts/8e76616d-ce24-4651-8581-84dcc7ae3751.eot?#iefix") format("eot"),url("Fonts/6f551fc0-4c6f-4ef0-b026-f1e148977a7b.woff") format("woff"),url("Fonts/32eb1298-d5c4-4112-a2f5-ee0ac5051b72.ttf") format("truetype"),url("Fonts/79868027-7d4d-452f-a701-80ad10720730.svg#79868027-7d4d-452f-a701-80ad10720730") format("svg");
}
